{% extends 'baseBack.html.twig' %}

{% block title %}Réponses{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1>Liste des Réponses</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Réponse</th>
                <th>Date de réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reponse in reponses %}
                <tr>
                    <td>{{ reponse.id }}</td>
                    <td>{{ reponse.reponse }}</td>
                    <td>{{ reponse.dateReponse ? reponse.dateReponse|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> Voir</a>
                        <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i> Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
