<style>
  .table tr,
    .table th,
    .table td {
        background-color: #FEFCF3;
    }
</style>

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
<div class="row justify-content-center">
 <div class="col-sm-6">
    <div class="card">
        <div class="card-body" style='background-color:#FEFCF3'>
            <table class="table" >
                <tbody >
                    <tr >
                        <th >{{ form_label(form.type) }}</th>
                        <td>{{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}</td>
                        <td>
                            {% if form_errors(form.type)|length > 0 %}
                                <div class="alert alert-danger">{{ form_errors(form.type) }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.lieu) }}</th>
                        <td>{{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}</td>
                        <td>
                            {% if form_errors(form.lieu)|length > 0 %}
                                <div class="alert alert-danger">{{ form_errors(form.lieu) }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.text) }}</th>
                        <td>{{ form_widget(form.text) }}</td>
                        <td>
                            {% if form_errors(form.text)|length > 0 %}
                                <div class="alert alert-danger">{{ form_errors(form.text) }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.photo) }}</th>
                        <td>{{ form_widget(form.photo, {'attr': {'class': 'form-control', 'type': 'file'}}) }}</td>
                        <td>
                            {% if form_errors(form.photo)|length > 0 %}
                                <div class="alert alert-danger">{{ form_errors(form.photo) }}</div>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
 </div>
</div>

{{ form_end(form) }}
