{% extends 'baseBack.html.twig' %}

{% block title %}Publication {% endblock %}

{% block body %}
<div class='container'>
<div class='card'>
    <h1>Liste des publications</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Photo</th>
                <th>Texte</th>
                <th>Date de création</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
            <tr>
                <td>{{ publication.type }}</td>
                <td><img src="{{ asset('pub/' ~ publication.photo) }}" class="img-fluid" alt="Paysage" width="100px" height="150px"></td>
                <td>{{ publication.text }}</td>
                <td>{{ publication.dateCreation ? publication.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_publication_showAdd', {'id': publication.id}) }}" class="btn btn-primary">Détails</a>
                      {{ include('publication/deletA.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Pas de publications</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
