{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <h1>Liste des publications</h1>
    <a href="{{ path('app_publication_new') }}">
        <i class="bi bi-plus-circle" style="font-size: 25px;"></i> Ajouter une nouvelle publication
    </a>
    
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="float: right;">
        <input type="radio" class="btn-check" name="publicationType" id="offreBtn" autocomplete="off" value="offre">
        <label class="btn btn-outline-primary" for="offreBtn">Offre</label>

        <input type="radio" class="btn-check" name="publicationType" id="ordinaireBtn" autocomplete="off" value="ordinaire">
        <label class="btn btn-outline-primary" for="ordinaireBtn">Ordinaire</label>
    </div>
    
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                {% for publication in publications %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <a style='color:white' href="{{ path('app_publication_show', {'id': publication.id}) }}">
                        <div class="gallery-item h-100"> 
                            <img src="{{ asset('pub/' ~ publication.photo) }}" class="img-fluid" alt="Paysage">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <div>Publié le {{ publication.getDateCreation|date('d F Y') }} par xxxxx</div>
                            </div>
                        </div>
                    </a>
                    {% if publication.avis > 0 %}
                        {% for star in range(0, publication.avis) %}
                            <i style="color: #ffc107; margin: 0 1px;" class="bi bi-star-fill"></i>
                        {% endfor %}
                    {% else %}
                        <span>Pas d'avis</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Pas de publications</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[name="publicationType"]').change(function() {
                var selectedType = $(this).val();
                $.ajax({
                    url: '{{ path('filter_publications') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: { publicationType: selectedType },
                    success: function(data) {
                        console.log(data); // Afficher les données dans la console
                        // Mettre à jour l'interface utilisateur avec les données renvoyées si nécessaire
                    },
                  error: function(xhr, status, error) {
    console.error('Une erreur s\'est produite lors de la requête:', error,xhr.responseText);
    console.log(xhr.responseText);
}
                });
            });
        });
    </script>
    
    {% for flashMessage in app.session.flashBag.get('success') %}
        <script>
            // Affiche la SweetAlert après 3 secondes
       
                Swal.fire({
                    icon: 'success',
                    title: 'Succès!',
                    text: '{{ flashMessage }}',
                    confirmButtonText: 'OK'
                });
        </script>
    {% endfor %}

{% endblock %}
