{% extends 'base.html.twig' %}

{% block title %}Publication {% endblock %}



{% block body %}

    <h1>liste des publications</h1>
    <a href="{{ path('app_publication_new') }}">
        <i class="bi bi-plus-circle" style="font-size: 30px;"></i> Ajouter une nouvelle publication
    </a>
    {# float: right;#}
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                {% for publication in publications %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <a  style='color:white 'href="{{ path('app_publication_show', {'id': publication.id}) }}" >
                        <div class="gallery-item h-100"> 
                            <img src="{{ asset('pub/' ~ publication.photo) }}" class="img-fluid" alt="Paysage">
                            <div class="gallery-links d-flex align-items-center justify-content-center" >
                                <div > Publié le   {{publication.getDateCreation|date('d F Y') }} par xxxxx</div>
                            </div>
                        </div>
                    </a>
                 {% if publication.avis > 0 %}
                    {% for star in range(0, publication.avis) %}
                        <i style="color: #ffc107; margin: 0 1px;" class="bi bi-star-fill"></i>
                    {% endfor %}
                {% else %}
                    <span>Pas d'avis</span>
                {% endif %}


               </div>
                {% else %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Pas de publications</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    {#
        <div class="row">
            {% for publication in publications %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-head">
                        <h5 class="card-title"> Publication {{ publication.type }}</h5>
                    </div>
                    <img src="{{ publication.photo }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ publication.text }}</p>
                        <p class="card-text"><small class="text-muted">{{ publication.dateCreation ? publication.dateCreation|date('Y-m-d') : '' }}</small></p>
                        <a href="{{ path('app_publication_show', {'id': publication.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_publication_edit', {'id': publication.id}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Pas de publications</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    #}
   
{% endblock %}
