{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}


{% block body %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <h1>Liste des publications</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="{{ path('app_publication_new') }}" class="btn btn-primary" style="background-color: #F9A936; border-color: #F9A936;">
        <i class="bi bi-plus-circle-fill me-2"></i> Ajouter une nouvelle publication
    </a>
</div>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="background-color: #FEFCF3; border-radius: 5px;">
    <input type="radio" class="btn-check" name="publicationType" id="offreBtn" autocomplete="off" value="offre">
    <label class="btn btn-outline-primary" for="offreBtn" style="background-color: #F9A936; border-color: white;">Offre</label>

    <input type="radio" class="btn-check" name="publicationType" id="ordinaireBtn" autocomplete="off" value="ordinaire">
    <label class="btn btn-outline-primary" for="ordinaireBtn" style="background-color: #F9A936; border-color:white">Ordinaire</label>
</div>
<style>
    .btn-primary:hover {
        background-color: #FEFCF3 !important;
        color:black;
    } .btn-outline-primary  {
    color:white;}
       .btn-outline-primary:hover {
        background-color: #FEFCF3 !important;
         color:black;
    }
</style>

    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                {% for publication in publications %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <a style='color:white' href="{{ path('app_publication_show', {'id': publication.id}) }}">
                        <div class="gallery-item h-100"> 
                            <img src="{{ asset('pub/' ~ publication.photo) }}" class="img-fluid" alt="Paysage">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <div>Publié le {{ publication.getDateCreation|date('d F Y') }} par {{ publication.getIdUser().getName() }}  {{publication.getIdUser().getPrename()}}</div>
                            </div>
                        </div>
                    </a>
                    {% if publication.avis > 0 %}
                        {% for star in range(0, publication.avis) %}
                            <i style="color: #ffc107; margin: 0 1px;" class="bi bi-star-fill"></i>
                        {% endfor %}
                    {% else %}
                        <span>Pas d'avis</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Pas de publications</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>



    {% for flashMessage in app.session.flashBag.get('success') %}
        <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Succès!',
                    text: '{{ flashMessage }}',
                    confirmButtonText: 'OK'
                });
        </script>
    {% endfor %}

{% endblock %}
