{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>
<section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{{ asset('pub/' ~ publication.photo) }}" class="img-fluid" alt="Paysage">
          </div>
          <div class="col-lg-5 content">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Type:</strong> <span>{{ publication.type }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Lieu:</strong> <span>{{ publication.lieu }}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Date de création:</strong> <span>{{ publication.getDateCreation|date('d F Y') }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Date de modification:</strong> <span>{{ publication.getDateModification|date('d F Y') }}</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
            {{ publication.text }} 
            </p>
          </div>
        </div>

      </div>
    </section>
    <a href="{{ path('app_publication_index') }}" style='padding-right:15px'>Retour</a>
    <a href="{{ path('app_publication_edit', {'id': publication.id}) }}">Modifier</a>
    {{ include('publication/_delete_form.html.twig') }}
<a href="{{ path('app_commentaire_new', {'id': publication.id}) }}">Ecrire un commentaire</a>
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <p>Les commentaires</p>
          <h2 style="color: black;">Mais qu'est ce qu'ils disent c'est du bla bla bla !!</h2>
        </div>
<div class="slides-3 swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="swiper-wrapper"  style="height:300px;">
        {% for commentaire in commentaires %}
            <div class="swiper-slide" role="group" aria-label="{{ loop.index }} / {{ commentaires|length }}">
                <div class="testimonial-item" style="text-align: center;">
                    <p > ~~ {{ commentaire.text }} ~~</p>
                    <br><br><br>
                    <div class="profile ">
                        {# <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> #}
                        <h3 >Nom</h3>
                        <h4 >Prenom</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination" style='color:black'></div>
</div>

<script>
    var swiper = new Swiper('.slides-3', {
        slidesPerView: 1,
        spaceBetween: 20,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            
        },
    });
</script>

      </div>
    </section>
{% endblock %}
