{% extends 'base.html.twig' %}

{% block title %}Hello ShoppingController!{% endblock %}

{% block body %}
<div class="row">

  
        {% for produit in produits %}
          <div class="col-md-4">
                <div class="product-item">
                    <a href="{{ path('detail_image', {'id': produit.id}) }}"><img class="img-fluid" src="/uploads/images/{{produit.image}}" alt="{{produit.nom}}" width="800px";height="800px"></a>
                    <h5 class="mt-2"><center>{{ produit.nom}}</center></h5>
 
                    <span class="product-price text-center" style="color:red"><center><b>{{(produit.prix ) }}  DT </b></center></span>
                </div>
           </div>
        {% endfor %}
      
    </div>
{% endblock %}
