{% extends 'baseBack.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <center><h1>Reclamation</h1></center>

    <div style="margin: 35px;">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reclamation.id }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ reclamation.type }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ reclamation.description }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td>{{ reclamation.etat ? 'Traitée' : 'Non traitée' }}</td>
                </tr>
                <tr>
                    <th>Date_creation</th>
                    <td>{{ reclamation.dateCreation ? reclamation.dateCreation|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>


        
        <div style="display: flex; gap: 15px; justify-content:center;">
            <button class="styled-button"><a href="{{ path('app_reclamation_index2') }}" style="color: white; text-decoration: none;">retour à la liste des réclamations</a></button>
            
        </div>
    </div>
<style>
.styled-button {
    background-color: #BEE5B4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.styled-button:hover {
    background-color: #A5D6A7; /* Changez la couleur au survol */
}

.styled-button a {
    color: inherit; /* Assure que la couleur du lien reste blanche */
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
}
</style>

{% endblock %}
