{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Votre Reclamation</h1>
    <div>
    <table  style="background-color: #FEFCF3; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-collapse: collapse; width: 100%; ">
        <style>
            /* Espacement entre les lignes */
            tr td {
                padding: 10px;
            }
            </style>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reclamation.etat ? 'Traitée' : 'Non traitée' }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ reclamation.dateCreation ? reclamation.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

   
    <div style="display: flex; gap: 15px; justify-content:center;">
        <button class="styled-button"><a href="{{ path('app_reclamation_index') }}" style="color: white; text-decoration: none;">retour à la liste des réclamations</a></button>
        <button class="styled-button"><a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}"  style="color: white; text-decoration: none;">Modifier</a></button>
        {{ include('reclamation/_delete_form.html.twig') }}
    </div>
    </div>

<style>
.styled-button {
    background-color: #BEE5B4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.styled-button:hover {
    background-color: #A5D6A7; /* Changez la couleur au survol */
}

.styled-button a {
    color: inherit; /* Assure que la couleur du lien reste blanche */
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
}
</style>

    
{% endblock %}
