{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1>Reset your password</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button type="submit" style="background-color: orange; border-color: orange;" class="btn">Reset password</button>
            {# <a>{{app.user.name}} {{app.user.prename}}</a> #}
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
