{% extends 'baseBack.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h3><center>Liste des produits</center></h3>

    <a href="{{ path('app_produit_new') }}">Créer un produit</a>
    <br>
    <br>
       {% for message in app.flashes('notice') %}
    <div class="flash-notice" style="color:green">
       <center> <h3>{{ message }}</h3></center>
    </div>
{% endfor %}
   <table class="display table table-striped"  id="myTable" >
        <thead>
            <tr>
               
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
               
                <td>{{ produit.categorie.nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Détail</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                     <a href="{{ path('app_produit_delete',{'id': produit.id}) }}" >Supprimer</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
