{% extends 'base.html.twig' %}

{% block title %}Évènement{% endblock %}

{% block body %}
  <section id="about" class="about" style="padding: 30px;">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="{{ asset('uploads/images/' ~ event.image) }}" class="img-fluid" alt="Paysage">
        </div>
        <div class="col-lg-5 content">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-group">
                <li class="list-group-item"><strong>Nom:</strong> {{ event.nom }}</li>
                <li class="list-group-item"><strong>Lieu:</strong> {{ event.lieu }}</li>
                <li class="list-group-item"><strong>Nombre de participants:</strong> {{ event.getNbreMax }}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-group">
                <li class="list-group-item"><strong>Date de début:</strong> {{ event.getDateDebut|date('d F Y') }}</li>
                <li class="list-group-item"><strong>Date de fin:</strong> {{ event.getDateFin|date('d F Y') }}</li>
              </ul>
            </div>
          </div>
          <p class="py-3">{{ event.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <a href="{{ path('list_event') }}" class="btn btn-secondary" style="margin-right: 15px;"><i class="bi bi-arrow-left"></i> Retour</a>
    <a href="{{ path('editevent', {'id': event.id}) }}" class="btn btn-primary"><i class="bi bi-pencil"></i> Modifier</a>
    {{ include('evenement/delete.html.twig') }}
    <a href="#" class="btn btn-info" id="participerBtn" data-event-id="{{ event.id }}">
    <i class="bi bi-person-plus"></i> Participer
</a>
    <a href="{{ path('app_feedback_new', {'id': event.id}) }}" class="btn btn-success"><i class="bi bi-chat-dots"></i> Ajouter un feedback</a>
  </div>

  <section id="testimonials" class="testimonials" style="margin-top: 30px;">
    <div class="container">
      <div class="section-header">
        <p>Les feedbacks</p>
      </div>

      {% for feedb in fb %}
        <section class="feedback-section" style="background-color: #f7f6f6; padding: 20px;">
          <div class="container my-5 py-5 text-dark">
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex flex-start">
                      <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40" height="40" />
                      <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <h6 class="text-primary fw-bold mb-0">
                            lara_stewart
                            <span class="text-dark ms-2">{{ feedb.text }}</span>
                          </h6>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="small mb-0" style="color: #aaa;">
                            <a href="{{ path('app_feedback_delete', {'id': feedb.id}) }}" class="link-grey"><i class="bi bi-trash"></i> Supprimer</a> •
                            <a href="{{ path('app_feedback_edit', {'id': feedb.id}) }}" class="link-grey"><i class="bi bi-pencil"></i> Modifier</a>
                          </p>
                          <div class="d-flex flex-row">
                            <i class="fas fa-star text-warning me-2"></i>
                            <i class="far fa-check-circle" style="color: #aaa;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    </div>
  </section>
  <script>
    document.getElementById('participerBtn').addEventListener('click', function(event) {
        // Prevent the default link behavior
        event.preventDefault();

        // Get the event ID from the data attribute
        var eventId = this.getAttribute('data-event-id');

        // Show a confirmation dialog
        var isConfirmed = confirm('Voulez-vous vraiment participer ?');

        // If confirmed, redirect to the participation page
        if (isConfirmed) {
            window.location.href = "{{ path('app_particip_new', {'id': event.id}) }}";
        }
    });


    

    
</script>

{% endblock %}
