{% extends 'baseBack.html.twig' %}

{% block title %}Commentaire {% endblock %}

{% block body %}
<div class="container">
 <div class='card'>
    <h1 class='text-center'>Listes commentaire </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.text }}</td>
                <td>{{ commentaire.dateCreation ? commentaire.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                <a   href="{{ path('app_commentaire_show', {'id': commentaire.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> Voir</a>
                      {{ include('commentaire/deletA.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {# <a href="{{ path('app_commentaire_new', {'id': publication.id}) }}">Create new</a> #}
{% endblock %}
