{% extends 'baseBack.html.twig' %}

{% block title %}Commentaire {% endblock %}

{% block body %}
    <h1>Listes commentaire </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.text }}</td>
                <td>{{ commentaire.dateCreation ? commentaire.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                <a  class='btn btn-primary' href="{{ path('app_commentaire_show', {'id': commentaire.id}) }}">show</a>
                      {{ include('commentaire/deletA.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_commentaire_new', {'id': publication.id}) }}">Create new</a> #}
{% endblock %}
