<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        
        {% block css %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{asset('bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
            <link href="{{asset('swiper/swiper-bundle.min.css')}}" rel="stylesheet">
            <link href="{{asset('glightbox/css/glightbox.min.css')}}" rel="stylesheet">
            <link href="{{asset('aos/aos.css')}}" rel="stylesheet">
            <link href="{{asset('css/main.css')}}" rel="stylesheet">

            <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css"/>
            <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css"/>
        {% endblock %}
    </head>
    <body>
        <div id="preloader">
            <img src={{asset('img/logo.png')}}  width="250" height="200"> 
        </div>
        {% block header %}
            <header  id="header" class="header d-flex align-items-center fixed-top">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <a href="indexp.html" class="logo d-flex align-items-center  me-auto me-lg-0">
                        <img src={{asset('img/logo.png')}} alt="" width="100" height="300"> 

                    </a>
                    <nav id="navbar" class="navbar">
                        <ul>
                        <li><a href="indexp.html" class="active">Accueil</a></li>
                        <li><a href="about.html">Magasin</a></li>
                        <li><a href="#"> Evènement</a></li>
                        <li><a href="{{ path('app_publication_index') }}">Poste</a></li>               
                        <li> <a  href="{{ path('app_reclamation_index') }}">Réclamation</a></li>
                        </ul>
                        
                         
                    </nav>
                    <div class="header-social-links">
    <a class="nav-link hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
        <div class="avatar">
            {% if app.user %}
                <img src="../assets/pdp/{{ app.user.image }}" alt="" class="w-px-40 h-auto rounded-circle">
            {% else %}
                <!-- Placeholder for avatar -->
                <img src="../assets/default_avatar.jpg" alt="Default Avatar" class="w-px-40 h-auto rounded-circle">
            {% endif %}
        </div>
    </a>

    {% if app.user %}
        <a href="{{ path('app_profile') }}" class="">{{ app.user.name }} {{ app.user.prename }}</a>
        <a href="{{ path('app_logout') }}" class="">Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="">Login</a>
        <!-- You may add a registration link here if needed -->
    {% endif %}
</div>
    
                </div>
            </header>
        {% endblock %}
                <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<br><br><br>
        <div class="container text-center" style="margin-top: 50px;margin-bottom:200px;">
            {% block body %}

            {% endblock %}
        </div>
        {% block footer %}
            <footer id="footer" class="footer">
                <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>PhotoFolio</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
                </div>
            </footer>
        {% endblock %}
       
        
    </body>

       



	{% block js %}
        <script src="{{asset('bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('swiper/swiper-bundle.min.js')}}"></script>
        <script src="{{asset('glightbox/js/glightbox.min.js')}}"></script>
        <script src="{{asset('aos/aos.js')}}"></script>
        <script src="{{asset('php-email-form/validate.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        
    {% endblock %}
</html>