{% extends 'baseBack.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
   <h3><center>Liste des catégories</center></h3>
   
  <a href="{{ path('app_categorie_new') }}">Créer Catégorie</a>
    <br>
    <br>
    <table class="table" style="width:70%">
        <thead>
            <tr>
               
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
               
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Détail</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
