{% extends "basep.html.twig" %}
{% block title %}Edit profile{% endblock %}
{% block content %}
	<div class="card mb-4">
		<h5 class="card-header">Profile Details</h5>
		<div class="card-body">
			<div class="d-flex justify-content-center align-items-sm-center gap-4">
				<img src="../assets/pdp/{{app.user.image}}" alt="user-avatar" class="d-block rounded" height="200" width="200" id="uploadedAvatar">
			</div>
		</div>
		<hr class="my-0">
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{{ form_start(form) }}
				<div class="row mb-3">
					{{ form_row(form.image) }}
				</div>
				<div class="row mb-3">
					{{ form_row(form.name, {'value': app.user.name}) }}
				</div>
				<div class="row mb-3">
					{{ form_row(form.prename, {'value': app.user.prename}) }}
				</div>
				<div class="row mb-3">
					{{ form_row(form.email, {'value': app.user.email}) }}
				</div>
	<div class="row mb-3">
    {{ form_row(form.phone, {
        'attr': {'maxlength': 8, 'pattern': '^[0-9]*$'},
        'value': app.user.phone
    }) }}
</div>


			<div class="row mb-3">
    {{ form_row(form.birthday, {'value': app.user.birthday ? app.user.birthday|date('Y-m-d') : null}) }}
</div>

				{# <div class="row mb-3">
					<label class="col-sm-1" for="basic-default-company">Email :</label>
					<label class="col-sm-10" for="basic-default-company">{{app.user.email}}</label> #}
				{# </div>
				<div class="row mb-3">
					<label class="col-sm-1" for="basic-default-company">Birthday :</label>
					<label class="col-sm-10" for="basic-default-company">{{ app.user.birthday ? app.user.birthday|date('d/m/Y') : '' }}</label>
				</div> #}
				{# <div class="row mb-3">
					<label class="col-sm-1" for="basic-default-company">Role :</label>
					<label class="col-sm-10" for="basic-default-company">
						{% for role in app.user.roles %}
							{% if role == "ROLE_USER" %}User
								{% elseif role == "ROLE_ADMIN" %}Admin
							{% endif %}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</label>
				</div> #}
{# <div class="row mb-3">
    <label class="col-sm-1" for="{{ form.roles.vars.id }}">Roles :</label>
    <div class="col-sm-10">
        <select id="{{ form.roles.vars.id }}" name="{{ form.roles.vars.full_name }}[]" class="form-control" multiple="multiple">
            {% for choice in form.roles.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
        </select>
    </div>
</div> #}
{# <div class="row mb-3">
    <label class="col-sm-1" for="{{ form.roles.vars.id }}">Roles11 :</label>
    <div class="col-sm-10">
        <select id="{{ form.roles.vars.id }}-select" class="form-control" multiple="multiple" style="display: none;">
            {% for choice in form.roles.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
        </select>
        <div id="{{ form.roles.vars.id }}-checkboxes">
            {% for choice in form.roles.vars.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ form.roles.vars.id }}-{{ loop.index }}" value="{{ choice.value }}">
                    <label class="form-check-label" for="{{ form.roles.vars.id }}-{{ loop.index }}">
                        {{ choice.label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div> #}



				<div class="mt-2">
					<button type="submit" class="btn btn-primary me-2">{{ button_label|default('Save changes') }}</button>
				</div>
				{{ form(form) }}
			</form>
		</div>
	</div>
{% endblock %}
